h6 {background-color: #F0E68C;}
*{ margin: 0; padding: 0; box-sizing: border-box ; font-family:fantasy; }

header { width: 100%; height: 150px; background-color: white; display:inline-block;
    text-align: center;}

main {width: 90%;}

.paodequijo {border-radius: 10px;}

body {background-color: #F0E68C;}

#menu{ display: inline-block;
        border-style:outset;
        border-width: 10px;
        width: 16.6%;
}
ul,ol {line-height: 26px;}

#box {padding: 2%; margin: 2%; border-radius: 10px; background-color: white;  }


#margem {padding: 1%;}

#add {margin-left: .5%;}

#git { width: 30px; height: 30px;}

#figura{margin-right: 22.71321%; margin-left: 22.71321%;}

#caixa { background-color: aqua;}

a { color: inherit; } 
a:hover{background-color: #F0E68C;}

footer {width: 100%; height: 150px; background-color: white;
padding: 75px; text-align: center;}

